<!-- Page Heading -->
<div class="container">
	<h1>Category details</h1>
	<div class="row">
		<div class="col-3">
			<h5 class="text-center text-primary mt-2">{{category.name}}</h4>
				<form method="POST" action="/categoryDetail/{{category._id}}?_method=DELETE"
					enctype="multipart/form-data">
					<button type="submit" class="btn btn-primary">Delete</button>
				</form>
		</div>
		<div class="col-9">
			<form method="POST" action="/categoryDetail/{{category._id}}?_method=PATCH" enctype="multipart/form-data">
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Name</label>
					<div class="col-sm-9">
						<input type="text" value="{{category.name}}" class="form-control" name="name"></input>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">icon Name</label>
					<div class="col-sm-9">
						<input type="text" value="{{category.iconName}}" class="form-control" name="iconName"></input>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">descriptions</label>
					<div class="col-sm-9">
						<input type="text" value="{{category.descriptions}}" class="form-control" name="descriptions"></input>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Save</button>
		</div>
		</form>
	</div>
</div>
